/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

/* Стилі для header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 35%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #ff4500;
}

/* Стилі для sidebar */
.sidebar {
    background-color: #f2f2f2;
    border: 1px solid #22396a;
    padding: 20px;
    margin-right: 20px;
}

.sidebar h2 {
    font-size: 1.5rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

/* Стилі для content */
.content {
    flex: 1;
    padding: 20px;
}

.content h1 {
    font-size: 2rem;
}

/* Стилі для зображень */
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-item {
    flex-basis: calc(33.33% - 20px); /* 3 стовпці по 2 фото з відступами */
    margin-bottom: 20px; /* Відступ між фото */
    overflow: hidden;
    position: relative;
}

.image-item img {
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 9px 4px 5px rgba(200, 12, 178, 0.3);
    transition: transform 0.2s ease-in-out;
}

.image-item img:hover {
    transform: scale(1.1);
}

/* Стилі для footer */
footer {
    background-color: #22396a;
    color: #fff;
    padding: 20px;
    text-align: left;
}

.footer-lists {
    display: flex;
    justify-content: space-between;
}

.footer-lists ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-lists ul li:first-child {
    font-weight: bold; 
}

.footer-lists ul li {
    margin-bottom: 10px;
    padding-left: 30px;
}

